.matrix-wrapper fieldset {
  padding: 0;
}

.matrix-wrapper .form-wrapper {
  margin: 0;
  padding: 2px;
  border: 0;
}

.matrix-wrapper fieldset .form-item {
  display: inline;
}

.matrix-wrapper fieldset .form-item input {
  width: 75px;
}
